<!-- <div class="jumbotron text-center">
  <h1>Florian CHEVASSU</h1>
  <h2>
    Développeur C++ chevronné
  </h2>

  <p class="citation">
    <em><q>People who think they know everything really annoy those of us who know we don't</q> - Bjarne Stroustrup</em>
  </p>
</div> -->


<div class="jumbotron">
  <h1>I'm a C++ engineer searching for a new job in Lyon - France</h1>
  <div>
    <p>If you have a job oportunity where I could embrace my C++ passion, contact me!</p>
    <p>For more information, check my (French) <a href="#/cv">resume</a>!</p>
  </div>
</div>

<div class="row"  ng-controller="MainController as vm">

  <div class="col-md-12">
    <h2>Recent blog posts</h2>
  </div>
  <div class="col-md-6" ng-repeat="post in vm.posts | limitTo:nbBlogPostShown">
    <div class="well">
      <!-- <img class="pull-right" ng-src="assets/images/amanite_template_engine_logo.png" alt="Amanite template engine"> -->
      <div class="caption">
        <div ng-hide="true" ng-include src="post.raw_url"></div>
        <h3><a ng-href="#/blog/post/{{post.route}}">{{post.title}}</a></h3>
        <h4>{{post.tags.join(',')}}</h4>
        <p>{{post.snippet}}</p>
        <a ng-href="#/blog/post/{{post.route}}">see more</a>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <h2>Projects</h2>
  </div>
  <div class="col-md-6" ng-repeat="project in vm.projects">
    <div class="thumbnail well">
      <div class="caption">
        <h3><a ng-href="{{project.url}}">{{project.title}}</a></h3>
        <p>{{project.description}}</p>
      </div>
    </div>
  </div>
</div>
