/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

//$blue: #3873B3;
$blue1: #206BA4;
$blue2:	#BBD9EE;
$blue3:	#EBF4FA;
$blue4:	#C0C0C0;
$blue5:	#E7E4D3;
$blue6:	#F1EFE2;

$gray1:	#F8F8F8;

$orange1:	#FF6223;

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

//configurations globales
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700);
body{
  background-color: $blue3;//#f7f7f7;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
}


.fa{
  margin-right: 3px;
}

/**
*     NAVBAR
*/

.navbar-toggle span,
.navbar-toggle:hover span,
.navbar-toggle .active span
{
  color: $gray1 !important;
}

.navbar-default{
  background-color: $blue1;
  .navbar-nav{
    color: $blue1;
  }

  .navbar-nav a{
    color: $gray1;
    background-color: inherit !important;
  }

  .navbar-brand {
    color: $gray1;
  }
  .navbar-brand:hover, .navbar-brand:focus {
    color: $gray1;
  }

  .navbar-nav > li > a,
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus ,
  .navbar-nav .active > a {
    color: $gray1 !important;
  }

  /* Navbar underline effect*/
  .navbar-underline{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
  }
  .navbar-underline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #FF6223;
    height: 6px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .navbar-underline.active:before{
    left: 10%;
    right: 10%;
  }
  .navbar-underline:hover:before{
    left: 0;
    right: 0;
  }
  .navbar-toggle{
    border-color: white;
    .icon-bar {
      background-color: white;
    }
  }
  // .navbar-toggle :focus{
  //   background-color: white;
  // }
  .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: inherit !important;

    border-color: white;
    .icon-bar {
      background-color: white;
    }
  }
}

post{
  font-size: 100%;
}

post .transclude-element h1{
  color: $blue1;
  font-size: 1.5em;
}
post .transclude-element h2{
  color: $blue1;
  font-size: 1.17em;
}
post .transclude-element   h3{
  color: $blue1;
  font-size: 0.87em;
}
.scrolledTo{
  color: blue;
  transition: color 2s;
}


/**
*     Global styling
*/

.page-content-background{
  margin-top: 0px;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.page-content{
  margin-top: 10px;
}

.jumbotron{
  //background-image: url("../assets/images/cpp_code.png");
  background-color: inherit;
  border: 1px solid #EEE;
  margin-bottom: 10px;
  border: 0px;
  h1{
    color: $blue1;
  }
  h2{
    margin-bottom: 40px;
  }
}

.well{
  background-color: inherit;
  border: 1px solid #EEE;
}

.orangeTag{
  color: $orange1;
}


/**
*     Main style
*/

.blue-line{
  display: inline-block;
  background-color: $blue1;
  width: 15%;
  height: 7px;
  margin-top: 15px;
  margin-right: 10px;
  float:left;
}

h3{
  color: $blue1;
}

.block-container{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.block-left{
  $margin-pct:2%;
  min-width: 15% - $margin-pct;
  color: $blue1;
  margin-right: $margin-pct;
}
.block-right{
  min-width: 85%;
}
ul{
  list-style-type: circle;
}

.tagBadge{
  @extend .text-right;
  @extend .badge;
  background-color: $orange1;
  font-size: 1.1em;
  font-weight: normal;
  margin: 1px;
  border-radius: 4px;
}

.tagBadge a{
  color: white;
}

.tags{
  @extend .text-left;
  li{
    display:inline;
    color: $orange1;
    font-size: 90%;
  }
  li::after{
    content: ",";
  }
  li:last-child::after{
    content: "";
  }
}

.page-section{
  background-color: #fff;
  box-shadow: 0px 0px 15px #ddd;
  margin-bottom: 15px;
}

.sectionTitle{
  background-color: $blue1;
  color: $gray1;
  vertical-align: middle;


  > h2{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  border-bottom: 4px solid $orange1;
  margin-bottom: 10px;

}




/**
*     CV
*/
.cv{

    background-color: #fff;
    box-shadow: 0px 0px 15px #ddd;

    .cv-name{
      margin-left: 25px;
    }
    .cv-title{
      font-style: italic;
      color:  #ccc;
      margin-left: 25px;
    }

    .contact-panel{
      margin-top: 25px;
      p{
        text-align: left;
      }
        margin-right: 25px;
    }

    //disable underlining on section titles
    .panel-title a{
      outline: none !important;
      text-decoration: none ;
    }

    /* Surcharge boostrap */
    .panel-heading, .panel{
      background: white;
      border : none;
      box-shadow: none;
    }

    .panel-body{
      border: none !important;
      padding-top: 0;
      padding-bottom: 0;
    }

    h4{
      margin-top: 0;
      color: $blue1;
    }
}


/**
*     Blog
*/
.blog{
    background-color: #fff;
    box-shadow: 0px 0px 15px #ddd;

    .blog-name{
      margin-left: 25px;
    }
    .blog-title{
      font-style: italic;
      color:  #ccc;
      margin-left: 25px;
    }
    .blog-post{
      margin-right: 10px;
    }

    .contact-panel{
      margin-top: 25px;
      p{
        text-align: left;
      }
        margin-right: 25px;
    }

    //disable underlining on section titles
    .panel-title a{
      outline: none !important;
      text-decoration: none ;
    }

    /* Surcharge boostrap */
    .panel-heading, .panel{
      background: white;
      border : none;
      box-shadow: none;
    }

    .panel-body{
      border: none !important;
      padding-top: 0;
      padding-bottom: 0;
    }

    h4{
      margin-top: 0;
      color: $blue1;
    }
}

.link, .link:hover{
  color: $orange1;
}


.seeMoreLink, .seeMoreLink:hover{
  color: $orange1;
  font-weight: bold;
}
